

@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    ViewBag.Title = "Amigos";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<br />
    <button id="btnAmigos" type="button" class="btn btn-info">Lista de amigos</button>
    <button id="btnDesconocidos" type="button" class="btn btn-info">Encontrar amigos</button>
    <div class="nav navbar-nav navbar-right">
        <input class="form-control" placeholder="Buscar"/>
    </div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Nombres</th>
        </tr>
    </thead>
    <tbody id="users">
        
    </tbody>
</table>
<script>
    //const amigos = document.querySelector('#btnAmigos');
    //var algo = document.querySelectorAll('#user');
    var request = jQuery.ajax({
                url: '/Contacto/getUsers?idUsuario=' +@Session["IdUsuario"],
                type: 'get'
            });
            request.done(function(respuesta){
                jQuery('#users').html(respuesta);
            });
</script>