

@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    ViewBag.Title = "Amigos";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<br />
    
    <button id="btnlistAmigos" type="button" class="btn btn-info">Lista de amigos</button>
    <button  id="btnlistDesconocidos" type="button" class="btn btn-info">Encontrar amigos</button>
    <div class="nav navbar-nav navbar-right">
        <input id="buscador" class="form-control" placeholder="Buscar"/>
    </div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Nombres</th>
        </tr>
    </thead>
    <tbody id="users">
        
    </tbody>
</table>
<br/>
<script>
    const amigos = document.querySelector('#btnlistAmigos');
    const desconocidos = document.querySelector('#btnlistDesconocidos');
    const buscador = document.querySelector('#buscador');
    var listUsurios = {};

    const listDesconocidos = () => {
        var request = jQuery.ajax({
            url: '/Contacto/getUsers?idUsuario=' +@Session["IdUsuario"],
            type: 'get'
        });
        request.done(function(respuesta){
            jQuery('#users').html(respuesta);
        });
    }
    const listAmigos = () => {
        var request = jQuery.ajax({
            url: '/Contacto/getUsersAmigos?idUsuario=' +@Session["IdUsuario"],
            type: 'get'
        });
        request.done(function (respuesta) {
            jQuery('#users').html(respuesta);
        });
        

    };
   

    const setListAmigos = () => {
        var request = jQuery.ajax({
            url: '/Contacto/dejarAmigo?idUsuario=' +@Session["IdUsuario"],
            type: 'get'
        });
        request.done(function(respuesta){
            jQuery('#users').html(respuesta);
        });
    }
    const getlistUsers = () => {
        var filas = document.querySelectorAll("#user");

        console.log(filas);
        
    }
    
    amigos.addEventListener('click', listAmigos)
    desconocidos.addEventListener('click', listDesconocidos)
    
    
</script>