
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "HomeAdmin";
}

<html>
<head>
    <link href="~/Content/EstiloAdmin.css" rel="stylesheet" />
</head>
<body>
    <h1 id="saludoAlUsuario">Bienvenido @Session["NombreUsuario"]</h1>

    <form action="/Cancion/Index" method="post">
          <input type="hidden" />
        <button id="btnInicioUsuario" class="btn btn-link"></button>
     </form>
</body>
</html>
