
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h1 id="paginaBiblioteca">BIBLIOTECA</h1>

<br />
<form action="/Biblioteca/RegistrarListaReproduccion" method="post">
    <button id="btnNuevaListaReproduccion" class="btn-danger">Nueva Lista de reproduccion</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ListaReproduccion in Model)
        {
        <tr>
            <td>@ListaReproduccion.nombre</td>
            <td>
                <form action="/Biblioteca/Detalle" method="post">
                <button id="btnAbrirPlaylist" name="idListaReproduccion" value="@ListaReproduccion.idListaReproduccion" class="btn btn-primary">Abrir PlayList</button>
                </form>
            </td>
            <td>
                <form action="/Biblioteca/EliminarListRe" method="post">
                    <input name="idListaReproduccion" value="@ListaReproduccion.idListaReproduccion" style="display:none" />
                    <button id="btnEliminarPlaylist" name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">Eliminar</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>



