
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>Nombre de la lista</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ListaReproduccion in Model)
        {
            <tr>
                <td>@ListaReproduccion.nombre</td>
                <td>
                    <form action="/Biblioteca/AgregarCancion" method="post">
                        <input name="idListaReproduccion" value="@ListaReproduccion.idListaReproduccion"style="display:none"/>
                        <input name="idCancion" value="@ViewBag.cancion" style="display:none" />
                        <button name="idUsuario" value="@Session["IdUsuario"]" class="btn btn-primary">Agregar</button>
                        
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

